footer {
    padding: 25px;
    background-color: $darkblue;
}

#footersvg {
    max-width: 80%;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    padding: 5px;
}

.avatar_container {
    margin: 5px auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    img {
        width: 80%;
        height: 80%;
    }
    border-radius: 5px;
}

.flip-card-front {
    background-color: $darkblue;
    color: black;
}

.flip-card-back {
    background-color: $pink;
    color: $yellow;
    padding: 15px;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer_links {
    a {
        i {
            color: $yellow;
            font-size: 2.8rem;
            margin: 15px;
        }
    }
}

@media screen and(max-width:576px) {
    #footersvg {
        max-width: 50%;
    }
}