header {
    background-image: url('storage/assets/header.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 55vh;
    display: flex;
    justify-content: space-between;
    // LOGO
    .logo {
        img {
            height: 50px;
        }         
     }
    // CONTAINERS 
    div {
        padding: 35px;
        .fa-user-circle {
            font-size: 2rem;
            color: $pink;
            vertical-align: middle;
        }
        // BUTTONS 
        .btn {
            background-color: $pink;
            border: none;
        }
    }
}