header {
    .curva {
        background-image: url('storage/assets/header.svg');
        background-repeat: no-repeat;
        height: 33vh;
    }
  
}

.btn-header {
    background-color: $pink;
    margin: 0 4px;
    color: white !important;
}

.btn-header:hover {
    background-color: white;
    color: $pink !important;
}