.console {
    margin: 25px 50px 25px;
    &:hover {
        cursor: pointer;
    }
    i {
        font-size: 1.5rem;
        transition: transform ease .2s;
        &:hover {
            transform: scale(1.4);
        }
    }
}

section {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .typologybox {
        margin: 25px;
        width: 20%;
        height: 150px;
        background-color: purple;
    }
}