#col-12-menu {
  background-color: yellow;
}

#col-8-menu {
  background-color: yellow;
}

#col-4-menu {
  background-color: green;
}



#restaurant-name {
  background-color: $yellow;
  text-align: center;
  border-radius: 20px;
}

#rest-name {
  color: white;
  font-size: 50px;
  font-weight: bold;
}
