.jumboTron {
 height: 40vh;

}

.jumboTron img {
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
}

#restaurant-name {
  background-color: $darkblue;
  opacity: 0.7;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  line-height: 60px;
}

span#rest-name {
  color: white;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 20px;
}

.cardRadius {
  border-radius: 1.5rem;
}

.fixHeight {
  height: 250px;
}

.roundColor {
  border: 1px solid $yellow;
  color: #fffff0;
  border-radius: 50%;
  background-color: $yellow;
  cursor: pointer;
  font-size: 20px;
}

.itemFlex {
  display: flex;
}

.justifySpace {
  justify-content: space-between;
}

.itemName {
  text-align: center;
  color: $pink;
}

.cartAlign {
  flex-direction: column;
  align-items: center;
}

.itemName::first-letter, .itemDescription::first-letter{
  text-transform: uppercase;
}

h2.darkBlue {
  margin-top: 2rem;
  font-size: 2rem;
}

.darkBlue {
  color: $darkblue;
}

.imgDel {
  width: 25px;
}

.imgDel img {
  width: 100%;
  height: auto;
}

.cartDel {
  font-size: 10px;
}

p.cartDel {
  margin-bottom: 0;
}

#notAvailable {
  font-size: 11px;
  color: red;
}

.itemHover:hover {
  transform: scale(1.1);
  transition: all 0.9s ease 0s;
}

.cartInfo {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.cartInfo div.darkBlue {
  margin: 0px 10px;
}

#pagamento {
  background-color: $pink;
  color: white;
  border-radius: 20px;
  border-color: $pink;
}

#carTxs {
  display: none;
}



@media screen and (max-width:767px) {
  #carTxs {
    display: block;
  }

  #cartLat {
    display: none;
  }
}

@media screen and (max-width:459px) {
  #restaurant-name {
    height: 20px;
    line-height: 0.4;
  }

  span#rest-name {
    font-size: 0.8rem;
    padding: 2px;
  }

  h2.darkBlue {
    font-size: 0.8rem;
  }
}

@media screen and (min-width:460px) and (max-width:789px) {
  #restaurant-name {
    height: 30px;
    line-height: 0.9;
  }

  span#rest-name {
    font-size: 1rem;
    padding: 5px;
  }

  h2.darkBlue {
    font-size: 1rem;
  }
}

@media screen and (min-width:790px) and (max-width:1199px) {
  #restaurant-name {
    height: 40px;
    line-height: 30px;
  }

  span#rest-name {
    font-size: 1.3rem;
    padding: 10px;
  }

  h2.darkBlue {
    font-size: 1.3rem;
  }
}
