// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'partials/_variables.scss';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Partials
@import 'partials/_common.scss';
@import 'partials/_mixins.scss';
@import 'partials/_main.scss';
@import 'partials/_header.scss';
@import 'partials/_footer.scss';
@import 'partials/_animations.scss';
@import 'partials/pages/index.scss';
@import 'partials/pages/form.scss';
@import 'partials/pages/app-layout.scss';
@import 'partials/pages/_checkout.scss';
@import 'partials/pages/dashboard.scss';
@import 'partials/pages/usershow.scss';


body {
    background-color: rgb(255, 254, 250);
}

.delete-banner {
    background-color: red;
    height: 10px;
    display: none;
}

.show {
    display: inline-block;
}

ul li {
    list-style: none;
}

input[type="text"]:focus,
select:focus {
    outline: none !important;
}

.form-control:focus {
    outline: none !important;
}
