#container404{
  #image404{

    min-width: 50%;
    position: relative;
    top: 25px;
 }
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: $darkblue;

  .logo{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 135px;
    height: 50px;
    img{
      position: absolute;
      top: 5%;
      left: 100%;

    }
  }
  #text-logo{
    color: white;
    position: absolute;
  }
  #logo-white-xs{
    display: none;
  }

   #text404{
  position: absolute;
  color: white;
  top:10%;
  left: 30%;
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  }
  #home{
    color: white;
    font-weight: bold;
    font-size: 2vw;
    position: absolute;
    text-decoration: none;
    bottom: 7%;
  }

   #home:hover{
    color: $pink;
  }

}



@media (max-width: 1200px) {
#container404{
      #text404{
       left: 30%;
       font-size: 7vh;
       font-weight: bold;
       }
  #image404{
    min-width: 70%;
  }
  #home{
    color: white;
    font-weight: bold;
    font-size: 2vw;
    position: absolute;
    text-decoration: none;
    bottom: 8%;
  }
}
}

@media (max-width: 992px) {
#container404{
  #text-logo{
    display: none;
  }
    #text404{
     left: 30%;
     font-size: 7vh;
     font-weight: bold;
     }

  .logo{
    position: absolute;
    top: 5%;
    left: 5%;

    img{
      position: absolute;
      top: 5%;
      left: 2%;
    }
  }
  #image404{
    min-width: 75%;
  }
  #home{
    bottom: 8%;
    font-size: 3vw;
  }
}
}

@media (min-width: 767px) and (max-width: 840px){
  #container404{
    #text404{
    font-size: 7vw;
    margin-top: 30px;
   }
   #image404{
     min-width: 95%;
   }
   #home{
     bottom: 4%;
     font-size: 3vw;
   }
  }
}

@media screen and (max-device-width: 600px){
  #container404{
    #text404{
    font-size: 7vw;
    margin-top: 30px;
    left: 20%;
   }
   #image404{
     min-width: 95%;
   }
   #home{
     bottom: 5%;
     font-size: 4vw;
   }
  }
}

@media screen and (max-device-width: 420px){
  #container404{
    #text404{
    font-size: 9vw;
    margin-top: 50px;
    left: 10%;
   }
   #image404{
     min-width: 100%;
   }
   #home{
     bottom: 4%;
     font-size: 4vw;
   }
  }
}
