#container_404 {
    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    #notfound {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        width: 100%;
        h1 {
            font-size: 4.3rem;
        }
        .quattro{
            font-size: 5rem;
        }
    }
    #error_404_button {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);                       
        a > h1 {
        font-size: 2.5rem; 
        color: $yellow;
        background-color: $pink;
        padding: 15px;
        border-radius: 20px;  
        }
    }
    #error_404_button:hover a > h1 {
        cursor: pointer;
     
        color: $darkblue;
        background-color: $yellow;
    }
}