.background-title{
  background-color: $pink;
  color: white;
  border-radius: 15px;
  padding: 10px 5px;
  margin-bottom: 40px;
  margin-top: 40px;

}

.title{
  font-weight: 900;
}

// CARD
.card-box{
  margin: 30px 15px;
  padding: 7px 14px;
  border-radius: 20px;

}

.title-card{
  color:$pink;
}

p{
  font-size: 16px;
}

h4{
  color: $pink;
}

// graphic
#angelo{
  margin-top: -30px;
}

.card-graphic{
  margin: 30px 15px;
}

// button
.button-up{
  width: 150px;
  height: 50px;
  background-color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  transition: all 0.65s cubic-bezier(0.51, 0.04, 0.63, 1.4);
}

.button-up:hover {
  cursor: pointer;
  background-color: $darkblue;
  transition-duration: 0.4s;
  border-radius: 100%;
  box-shadow: 0 0 15px 0px $darkblue;

}

.add:hover{
  color:$pink;
}

.text-button{
  margin-left:6px;
  font-size: 26px;
}
