body {
    .typologybox {
        background-color: white;
        text-align: center;
        font-weight: 2rem;
        .img-container {
            height: 100%;
            width: 100%;
            .typology-img {
                width: 100%;
                height: 100%;
            }
        }            
    }

    * {
        text-decoration: none;                
        :hover {
            text-decoration: none;        
        }
    }

    .hr-index {
        width: 80%;
        border: solid 1px $darkblue;
    }
    .show {
        visibility: visible;    
    }

    .hide {
        visibility: hidden;
    }
    .search-count {
        h4 {
            padding: 0;
        }
    }
    .btn-results {
        background-color: $darkblue;

    }
    #card-text {
        font-size: 1.2rem;
        color: $darkblue;
    }

    .test {
        display: block;
        width: 100%;
        text-align: center;
        color: $yellow;
        font-weight: bolder;
    }

    // SELECTED TYPOLOGY
    .selected {
        position: relative;
        border: solid 4px rgb(45, 177, 45);
        ::after {
            content: "";
            position: absolute;
            top: -15px;
            right: -15px;
            width: 35px;            
            height: 35px ;
            background: url('assets/check.svg') no-repeat bottom;
          }
          img {
              width: 280px !important;
          }
    }

    h5 {
        font-size: 1.4rem;
        color: $darkblue;
    }

    .card-body.card-index {
        padding: .5rem;
        h6 {
            margin: 0;
        }
            
    }
    
    // MAX 3 TYPOLOGIES BANNER
    .modal {
        .modal-content {        
            background-color: $white;
            color: $darkblue;
            border: 0;
            .modal-title {
                color: $darkblue;
            }         
            button {
                color: $pink;
                opacity: 1;                
                :hover {
                    opacity: 1;
                }
                .fa-times-circle {
                    font-size: 1.5rem;
                }
            }   
            .fa-exclamation-triangle {
                color: $yellow;
                font-size: 3rem;
                margin: 5px 0;
            }
            .modal-header .close {
                padding: 0.5rem 0.5rem;
            }

        }
        .modal-header {
            border: 0;
        }
    }

    // CARD HOVER EFFECT
    .tilt.card {
        position: relative;
    }

    #list {
        margin: 3px;
        .typology-name {
            background-color: rgba(0, 0, 0, 0.116);
            font-size: 0.9rem;
            margin: 0 3px;
            padding: 1px;
            border-radius: 5px;
            display: inline-block;
            margin-top: 5px;
        }
        .price-container {
            text-align: center;
            margin: 3px 0;
        }
    }

    #menu #list {
        max-height: 0;
        transition: max-height 2s ease-out !important;
        overflow: hidden;    
        a {
            color: $darkblue !important;
        }
    }
    
    #menu:hover #list {
        max-height: 500px;
        transition: max-height 2s ease-in !important;
        display: inline;
        a {
            color: $darkblue !important;
        }        
    }

}

.carousel-nav-icon {
    height: 48px;
    width: 48px;
 }
 .carousel-item {
    .col, .col-sm, .col-md {
       margin: 5px;
       height: 370px;
       background-size: cover;
       background-position: center center;
    }
    h4 {

        background-color: rgba(30, 36, 68, 0.616);
        border-radius: 20px;
        padding: 5px;
    }
 }
 
 
 