body {
    .typologybox {
        background-color: white;
        text-align: center;
        font-weight: 2rem;
        .img-container {
            height: 100%;
            width: 100%;
            .typology-img {
                width: 100%;
                height: 100%;
            }
        }            
    }
    .hr-index {
        width: 80%;
        border: solid 1px $darkblue;
    }
    .show {
        visibility: visible;
    }
    .hide {
        visibility: hidden;
    }
}
