

 .img-user-show{
   max-height: 400px;
 }

.text-user-show{
  font-weight: 600;
  color: $darkblue;
}

.title-show{
  font-weight: 800;
  color: $pink;
}



.container-btn{
  margin-top: 25px;
  margin-bottom: 25px;

}

.button-fashion{
  background-color: $yellow;
  color: $darkblue;
  border: 3px solid $yellow;
  border-radius: 8px;
  font-size: 18px;

}
