

 .img-user-show{
   max-height: 400px;
 }

.text-user-show{
  font-weight: 600;
  color: $darkblue;
}

.title-show{
  font-weight: 800;
  color: $pink;
}

.container-btn{
  margin-top: 25px;
  margin-bottom: 25px;
}

.user-show {
  font-size: 16px;
}
